/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

body,
#root {
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: white;
}

.imgSui {
  animation: scale2 2.5s linear infinite;
}

.imgCoins {
  animation: scale 2.5s linear infinite;
}

@keyframes scale {

  from,
  to {
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
  }

  50% {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
  }
}

@keyframes scale2 {

  from,
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}