.wkit-dialog__overlay {
    z-index: 9999;
}
.wkit-dialog__content {
    color: #ffffff;
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 0.2) 0%, rgba(109, 133, 218, 0.2) 100%);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    height: 320px;
}
.wkit-dialog__header {
    color: white !important;
}
.wkit-dialog__title {
    color: white !important;
}
.div {
    color: white !important;
}
.wkit-dialog__close {
    color: white;
}
.wkit-select__scroll {
    width: 100%;
}
.wkit-button {
    width: 100%;
    max-width: 324px;
    height: 64px;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 6px 8px !important;
    font-weight: 700;
    text-align: left;
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 0.2) 0%, rgba(109, 133, 218, 0.2) 100%);
}
.wkit-button:hover {
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 1) 0%, rgba(109, 133, 218, 1) 100%);
}

.wkit-new-to-sui {
    display: none;
}

.wkit-select__container {
    color: white;
    /* display: block !important; */
}
.wkit-select-item {
    color: white;
}

.wkit-select__title {
    display: none;
}

.wkit-connected-button {
    display: none;
}

.wkit-select-item:hover {
    color: white;
    border-radius: 8px;
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 1) 0%, rgba(109, 133, 218, 1) 100%);
}

.wkit-install__title {
    color: white;
}
.wkit-install__description {
    color: white;
    margin-bottom: 16px;
}
.wkit-install__button {
    width: 100% !important;
    text-align: center;
    height: 44px;
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 1) 0%, rgba(109, 133, 218, 1) 100%);
}
.wkit-install__button:hover {
    background: linear-gradient(178.73deg, rgba(104, 229, 184, 0.2) 0%, rgba(109, 133, 218, 0.2) 100%);
}

.wkit-install {
    padding: 40px 0;
}
.wkit-connecting__title {
    color: white;
}
.wkit-connecting__description {
    color: white;
}
